<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:site_name" content="Kostiantyn Koval">
    <meta property="og:type" content="post" />
    <meta property="og:article:author" content="Kostiantyn Koval" />
    <meta property="fb:admins" content="100001905632395"> 
    <meta property="fb:app_id" content="169593403060436"/>
    <meta name="keywords" content="Swift, programming, iOS">

    <!--  -->
    

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main-custom.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    {% if page.tableContent %}
    	<link rel="stylesheet" href="{{ "/css/table.css" | prepend: site.baseurl }}">
    {% else %}
        <link rel="stylesheet" href="{{ "/css/table-white.css" | prepend: site.baseurl }}">
    {% endif%}

</head>
